<!DOCTYPE html>

<div class="col-sm-6 center transparent">
<p>Welcome to your profile, <b>{{user.username}}</b>!</p>
<br><br>
<p><b>First Name: </b> {{user.firstname}}</p>
<br>
<p><b>Last Name: </b> {{user.lastname}}</p>
<br>
<p><b>Location: </b> {{user.location}}</p>
<br>
<p><b>Birthday: </b> {{user.birthday}}</p>

<table>
{{#each rows}}
	<tr> <td>{{link videoTitle videoURL}}</td> </tr>
	<tr> <td>{{ tag1 }}</td> <td>{{ tag2 }}</td> <td>{{ tag3 }}</td> </tr>
	<tr> <td>{{ uploadDate }}</td> </tr>
	<br>
{{/each}}
</table>
<a class="btn btn-lg btn-primary btn-block" href="/" role="button">Go Back</a><br>
</div>
